.banner {
    border: 5px solid orange;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: auto;
    position: absolute;
    top: auto;
    height: 300px;
    width: 1000px;
    left: auto;
	
	
  
  
  
  }


  h1 {
   
    text-align: center;
    font-size: 3.2em;









    color: #f8ce20;
    font-style: Arial;

    font-weight: 80%;
    font-weight: bold;
    font-style: italic;
    border-bottom: 10px inset orange;
    margin-bottom: 0px;
  
     
  }

  p{
    color: #f8ce20;
    margin: 15px;
    padding: 20px;
    font-size: 2.2em;
    }
.home {
  
  border: 2.5px inset orange;
  border-radius: 5%;
  height: 50px;
  width: 240px;
  position: absolute;
  left: 0px;
  top: 325px;
  
  
  

  }
  
.about {
  
  border: 2.5px inset orange;
  border-radius: 5%;
  height: 50px;
  width:   240px;
  position: absolute;
  left: 260px;
  top: 325px;
  
  
  
  }


.skills  {
  
  border: 2.5px inset orange;
  border-radius: 5%;
  width: 240px;
  height: 50px;
  position:absolute;
  left: 520px;
  top: 325px;

}

.contact  {

   border: 2.5px inset orange;
   border-radius: 5%;
   width:  240px;
   height: 50px;
   position:absolute;
   left: 780px;
   top: 325px;
   
  
   
   
   
  
}
 
  
  



.body  {
    background-color: #E01B01;
    border: 10px solid orange;
    border-radius: 5%;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 0px;
    top: 395px;
    width: 1000px;
    height: 900px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
  
  


body {
  background-color: black;
  

}



.footer {
    border: 10px solid orange;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    position: absolute;
    top: 1330px;
    left: 0px;
    width: 1000px;
    height: 100px;
  
  
  
  }


  .container {
    border: 5px outset orange;
    position: absolute;
     top: 680px;
    width: 660px;
    height: 600px;
    margin-left: 175px;
    mergin-right:200px;
    
  
  }


  .form-control {
  
    border: 5px outset orange;
    color: #f8ce20;
    background-color: #4C4E52;
    width: 620px;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    padding-top: 25px;
  
    
  }

 
  .btn {
    color: #f8ce20;
    height: 80px;
    width: 140px;
    border: 4px outset #f8ce20;
    margin-right: 250px;
    margin-left: 250px;
    background-color: transparent;

	  
  }
  
