.game-controls {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
}
.game-controls__numbers {
  font-weight: 600;
  font-size: 4rem;
}

.number-0 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.grid-full-width {
  grid-column-start: 1;
  grid-column-end: 6;
}
.next-question-button {
  grid-column-start: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
   .game-controls__numbers {
     font-size: 2rem;
   }
   .game-controls {
    grid-template-columns:  [column-start] repeat(3, minmax(25%, 1fr)) [column-end];
   }
   .next-question-button {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: auto;
    grid-row-end: auto;
  }
}