.question-menu {
  z-index: 2;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  max-width: 700px;
  padding: 1rem;
  background: linear-gradient(45.34deg, #cadefc 5.66%, #d8e1ee 94.35%);
  border-radius: 30px;
  border: 10px outset #574f7d;
}
.question-menu--is-correct {
  background: linear-gradient(45.34deg, #cafcea 5.66%, #d8e1ee 94.35%);
  border: 10px outset green;
}
.question-menu--is-not-correct {
  background: linear-gradient(45.34deg, #fccfca 5.66%, #eee8d8 94.35%);
  border: 10px outset red;
}
.is-correct-icon {
  z-index: 1;
  position: absolute;
  top: 50%;
  width: 25%;
  height: 80%;
  right: 0.5rem;
  transform: translateY(-50%);
}
.is-correct-icon--green {
  color: green;
}

.is-correct-icon--red {
  color: red;
}
.is-correct-icon * {
    stroke-dasharray: 400%;
    stroke-dashoffset: 800%; /*Si vols que estiguin plenes, deixa-ho a 800%, si no, deixa-ho a 400%*/
    animation: fancy-vector 2.5s ease-out forwards;
}
@keyframes fancy-vector {
  to {
    stroke-dashoffset: 0%;
  }
}